<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Tells DispatcherServlet to look for Controller classes using @Controller 
		annotation. -->
	<annotation-driven />

	<context:component-scan
		base-package="com.demo.application.controller" />

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<beans:bean	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	
	<beans:bean id="contactRepository" class="com.demo.application.service.ContactRepository" >
		<beans:constructor-arg name="dataSource" ref="dataSource" />
	</beans:bean>
	
	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/contactdb?useSSL=false" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="mert123" />
	</beans:bean>

	<beans:bean id="fileReader" class="com.demo.application.service.FileReader">
		<beans:property name="sourceProvider">
			<beans:bean id="sourceProvider"	class="com.demo.application.service.SourceProvider" />
		</beans:property>
	</beans:bean>


</beans:beans>